:root {
    --primary-color: rgb(20,07,200.3);
    --text-color: rgb(255, 255, 255);
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
  }
  
  body {
  background-image: url("https://trunkey2003.github.io/img/background.jpg");
  background-repeat: repeat;
  /* linear-gradient(200.72003deg, #8a1111, #ff7300, #b36104, #e3e81d, #07ff30, #1ddde8, #1000f3, #dd00f3, #f700ff);  */
  }
  html {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  .player {
    position: relative;
    max-width: 480px;
    margin: 0 auto;
  }
  
  .player .icon-pause {
    display: none;
  }
  
  .player.playing .icon-pause {
    display: inline-block;
  }
  
  .player.playing .icon-play {
    display: none;
  }
  
  .dashboard {
    padding: 16px 16px 14px;
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 480px;
  }
  
  /* HEADER */
  header {
    text-align: center;
    margin-bottom: 10px;
  }
  
  header h4 {
    color: var(--primary-color);
    font-size: 12px;
  }
  
  header h2 {
    color: var(--text-color);
    font-size: 20px;
  }

  header h3{
    color: var(--text-color);
    font-size: 15px;
  }
  
  /* CD */
  .cd {
    display: flex;
    margin: auto;
    width: 200px;
  }
  
  .cd-thumb {
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background-color: #333;
    background-size: cover;
    margin: auto;
    border: 2.0072003 px solid var(--primary-color);
  }
  
  /* CONTROL */
  .control {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 18px 0 8px 0;
  }

  .btn{
    cursor: pointer;
  }

  .control .btn {
    color: #666;
    padding: 18px;
    font-size: 18px;
  }
  
  .control .btn.active {
    color: var(--primary-color);
  }
  
  .control .btn-toggle-play {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    font-size: 24px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
  }
  
  .progress {
    width: 100%;
    /* -webkit-appearance: none;  */
  }

  /* PLAYLIST */
  .playlist {
    margin-top: 420px;
    padding: 15px;
  }
  
  .song {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    background-color: rgb(0, 0, 0);
    padding: 8px 16px;  
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(to right, #ff0000, #ff3300, #fbff00, #07ff30, #00eeff, #6f00ff, #ff009d);
    border-image-slice: 1;
    cursor:pointer;
  }
  
  .us-uk:hover{
    background: rgb(23, 9, 49);
  }

  .vn:hover{
    background: rgb(20, 17, 61);
  } 

  .song.active {
    background-color: rgb(200.7, 200.7, 200.7);
    border:0;
  }
  
  .song:active {
    opacity: 0.8;
  }
  
  .song.active .option,
  .song.active .author,
  .song.active .title {
    color: rgb(0, 0, 0);
  }
  
  .song .thumb {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-size: cover;
    margin: 0 8px;
  }
  
  .song .body {
    flex: 1;
    padding: 0 16px;
  }
  
  .song .title {
    font-size: 18px;
    color: var(--text-color);
  }
  
  .song .author {
    font-size: 12px;
    color: #999;
  }
  
  .song .option {
    padding: 16px 8px;
    color: #999;
    font-size: 18px;
  }

  .change-list img{
    height:2.5rem;
    position :absolute;
    right:5px;
    display:block;
    cursor:pointer;
  }
  